{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <!-- 上述meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <!-- Bootstrap CSS -->
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'css/index.css' %}" rel="stylesheet"/>
    <title>key-phrase</title>
</head>
<body>
<br>
<br>
<div class="container">
    <div class="col">
        <h1 class="text-center">Welcome to the key-phrase system</h1>
        <br>
        <br>
        <br>
        <h2 class="text-center">Click to choose operation</h2>
        <br>
        <br>
        <div style="text-align:center">
            <!--<a href="/register/" class="text-success "><ins>新用户注册</ins></a>-->
            <a href="/searchPage/">
                <button class="btn btn-primary">search</button>
            </a>
        </div>
                <br>
        <br>
        <div style="text-align:center">
            <!--<a href="/register/" class="text-success "><ins>新用户注册</ins></a>-->
            <a href="/pdfList/">
                <button class="btn btn-primary">hot articles</button>
            </a>
        </div>
        <br>
        <br>
        <div style="text-align:center">
            <a href="/keyPhraseList/">
                <button class="btn btn-primary">top keyPhrases</button>
            </a>
        </div>


    </div>
</div> <!-- /container -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
{# 以下三者的引用顺序是固定的#}
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.15.0/umd/popper.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
